@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MarcellusSC;
  src: url('/fonts/MarcellusSC-Regular.ttf') format('truetype');
}

body {
  color: #333;
  background: #f8f8f8;
  font-family: Georgia, '-apple-system', 'BlinkMacSystemFont', 'Hiragino Sans GB', Arial, 'Microsoft Yahei';
}

p {
  margin-bottom: 16px;
}
