@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MarcellusSC;
  src: url('/fonts/MarcellusSC-Regular.ttf') format('truetype');
}

:root {
  /* 主题色：黛蓝 */
  --theme-color: #31475c;
}

body {
  color: #333;
  background: #f8f8f8;
  font-family: Georgia, 'PingFangSC-Light', 'STXihei', 'Hiragino Sans GB', Arial, 'Microsoft Yahei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 16px;
}

.page-title::after,
.blog-summary::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 40px;
  height: 1px;
  margin-left: -20px;
  border-top: 1px solid #ddd;
}

.blog-summary:last-child::after {
  display: none;
}
